.DS_Store
.thumbs.db

web/node_modules
web/.quasar
web/dist
web/.env
web/.env.*
supabase/.temp
web/quasar.config.*.temporary.compiled*
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/.idea
web/*.suo
web/*.ntvs*
web/*.njsproj
web/*.sln
